.App {
    max-width: 1200px;
    margin: 0 auto;
}

.rc-slider {
  margin-left: 90px;
  width: inherit;
}

.rc-slider-tooltip-inner {
  background-color: #307eae;
}

.rc-slider-tooltip-arrow {
  border-top-color: #307eae !important;
}

.rc-slider-handle {
  border: solid 2px #307eae;
  background-color: #307eae;
}

.slider-label {
  float: left;
  margin-top: -8px;
}

.invalid-entry {
    margin-left: 140px;
    font-style: italic;
    color: #444;
}
